body {
  background-color: #fdf1d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body h3 {
  margin: 0px;
}
  
iframe {
  border: none; 
  width: 100%;
  height: fit-content;
}

#opcije {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#prosjecnaKvadratura, #outlier, #mojeNekretnine {
  flex: 1;
  border: 2px solid #000;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0px 20px 10px 20px;
}

#glavni {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#unosParametara {
  width: fit-content;
  padding: 0px 20px;
  float: left;
}

.mainBtn {
  background-color: #ff9900;
  border: 2px solid #f8af42;
  padding: 5px;
  display: block;
  margin-right: 15px;
}

.mainBtn:hover {
  background-color: #f8af42;
}

.unos {
  padding-bottom: 30px;
}

.unosButton {
  background-color: #333;
  color: white;
  margin-right: 15px;
}

.unosButton:hover {
  background-color: #545454;
}

#prosjecnaKvadratura .unosButton, #outlier .unosButton {
  margin-top: 3px;
  margin-bottom: 3px;
}

.unos button {
  margin-top: 20px;
  float: right;
}

.unos input, #prosjecnaKvadratura select, #outlier select {
  margin-right: 15px;
}

#histogram {
  margin: 20px 20px 20px 80px;
  width: 400px;
}

#kvadraturaKriterijVrijednost, #outlierKriterijVrijednost, #kvadraturaKriterijMin, #kvadraturaKriterijMax, #outlierKriterijMin, #outlierKriterijMax {
  display: none; 
}

#kvadraturaKriterijMin, #kvadraturaKriterijMax, #outlierKriterijMin, #outlierKriterijMax {
  margin-top: 15px;
  margin-right: 10px;
}

#svojstvoSelect {
  margin-top: 15px;
}

#prosjecnaKvadratura p{
  margin-bottom: 0;
}

#mojeNekretnine td, th {
  text-align: center;
}

#mojeNekretnine table {
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 20px 10px;
}

#mojeNekretnine .mainBtn {
  margin-top: 20px;
}

#mojeNekretnineOdgovor {
  margin-top: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
