body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

iframe {
    border: none; 
    width: 100%;
    height: fit-content;
}

#vijesti {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    border: 1px solid black;
    grid-template-areas: 
        'gv gv gv gv'
        'gv gv gv gv'
        'vv1 kv1 kv2 vv2'
        'vv1 kv3 kv4 vv2'
        'kv5 kv6 vv3 vv4'
        'kv7 kv8 vv3 vv4';
}

.glavnaVijest {
    aspect-ratio: 2;
    background-color: rgb(162, 183, 223);
    border: 1px solid black;
    grid-column: span 4;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    box-sizing: border-box;
    grid-area: gv;
}

.visokaVijest {
    aspect-ratio: 1 / 2;
    background-color: rgb(255, 218, 126);
    border: 1px solid black;
    grid-column: span 1;
    grid-row: span 2;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.vv1 {
    grid-area: vv1;
}

.vv2 {
    grid-area: vv2;
}

.vv3 {
    grid-area: vv3;
}

.vv4 {
    grid-area: vv4;
}

.kvadratnaVijest {
    aspect-ratio: 1;
    background-color: pink;
    border: 1px solid black;
    grid-column: span 1;
    grid-row: span 1;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.kv1 {
    grid-area: kv1;
}

.kv2 {
    grid-area: kv2;
}

.kv3 {
    grid-area: kv3;
}

.kv4 {
    grid-area: kv4;
}

.kv5 {
    grid-area: kv5;
}

.kv6 {
    grid-area: kv6;
}

.kv7 {
    grid-area: kv7;
}

.kv8 {
    grid-area: kv8;
}

h2, h3, h4 {
    margin: 30px 20px 10px 20px;
}

p {
    margin: 10px 20px;
    text-align: justify;
}

.glavnaVijest img {
    max-width: 45%;
    max-height: 90%;
    object-fit: cover;
    margin: 20px;
}

#tekst {
    display: inline-block;
}

@media only screen and (max-width : 800px) {
    #vijesti {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'gv gv'
        'gv gv'
        'vv1 kv1'
        'vv1 kv3'
        'kv2 vv2'
        'kv4 vv2'
        'kv5 kv6'
        'kv7 kv8'
        'vv3 vv4'
        'vv3 vv4';
    }
    
    .glavnaVijest {
        aspect-ratio: 1;
        grid-column: span 2;
        flex-direction: column;
    }

    .glavnaVijest h2 {
        margin-top: auto;
    }

    .glavnaVijest img {
        height: 50%;
    }
}